.list-group .list-group-item-success .input-group .form-control {
  text-decoration: line-through;
  color: #868e96;
}

.completedTaskCompleteButton {
  background-color: #c1e5ca;
  border-color: #ced4da; 
}